@use "../../scss/abstracts/" as *;

.container {
  width: 30rem;
  height: fit-content;
  padding: 1.4rem;
  border-radius: 8px;
  background-color: $color-green-300;
  color: $color-gray-500;
  text-align: center;

  // o e comercial abaixo, significa a propria classe container, é como se fosse um seletor nele mesmo
  // e o data color o atributo que foi colocado na tag
  &[data-color="first"] {
    background-color: $color-green-300;
  }

  &[data-color="second"] {
    background-color: $color-green-100;
  }

  @include effect-style-shadow-1;

  h3 {
    margin-bottom: 1.4rem;
    @include text-style-header-3;
  }

  p {
    margin-bottom: 1.4rem;
    @include text-style-paragraph-1;
  }

  a {
    color: $color-blue-200;
  }
}
